doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Menú Lateral - Admisión Hospitalaria
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css")
    link(rel="stylesheet", href="/css/index.css")

    script.
      function actualizarFechaHora() {
        const fechaHoraElement = document.getElementById("fechaHora");
        const fecha = new Date();
        const opciones = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit' };
        fechaHoraElement.textContent = fecha.toLocaleDateString('es-ES', opciones);
      }
      setInterval(actualizarFechaHora, 1000); 

      function cargarPagina(pagina, link) {
        document.getElementById("contenido").src = pagina;
        document.querySelectorAll(".nav-link").forEach(item => item.classList.remove("active"));
        link.classList.add("active");
      }

  body
    
    .container-fluid.fixed-top.bg-dark.text-white.p-2
      .row
        .col-4.text-start
          span#fechaHora 
        .col-4.text-center
          h4.m-0 Admisión Hospitalaria
        .col-4.text-end
          i.bi.bi-person-circle.me-2
          span Usuario

    .container-fluid.mt-5
      .row
        
        .col-md-3.bg-primary.text-white.min-vh-100.p-4
          ul.nav.flex-column
            li.nav-item
              a.nav-link.text-white(href="#", onclick="cargarPagina('/pacientes', this)")
                i.bi.bi-person-rolodex.me-2
                | Pacientes
            li.nav-item
              a.nav-link.text-white(href="#", onclick="cargarPagina('/internacion', this)")
                i.bi.bi-hospital-fill.me-2
                | Internación
            li.nav-item
              a.nav-link.text-white(href="#", onclick="cargarPagina('/medicos', this)")
                i.bi.bi-person-vcard.me-2 
                | Médicos
            li.nav-item
              a.nav-link.text-white(href="#", onclick="cargarPagina('/enfermeros', this)")
                i.bi.bi-capsule.me-2
                | Enfermeros
            li.nav-item
              a.nav-link.text-white(href="#", onclick="cargarPagina('/usuarios', this)")
                i.bi.bi-person-gear.me-2
                | Usuarios
            li.nav-item
              a.nav-link.text-white(href="#", onclick="cargarPagina('/reportes', this)")
                i.bi.bi-graph-up.me-2
                | Reportes

        
        .col-md-9.p-4
          iframe#contenido(name="contenido", width="100%", height="800", frameborder="0")

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js")
